*{
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

header{
    text-align: center;
}

.mainDiv{
    display:flex;
    justify-content: center;
}

.etchDiv{
    display:flex;
    gap: 50px;
    justify-content: center;
}

#frame{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 602px;
    height: 602px;
    border: 0.2px solid black;
}

.btns{
    display: flex;
    flex-direction: column;
    gap: 20px;
}